# Build output
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# JetBrains Rider / ReSharper
.idea/
*.sln.iml
_ReSharper*/
*.[Rr]e[Ss]harper

# Operating system files
.DS_Store
Thumbs.db
Desktop.ini